
    {% extends 'base.html' %}
    {% block title %} Anasayfa - {{block.super}}{% endblock %}
    {% block body %}
       <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="background-color:red;height:100px;"></div>
                <div class="col-md-8" style="background-color:blue;height:100px;">
                    <div class="row">
                        <div class="col-md-2" style="background-color:orange;height:100px;"></div>
                        <div class="col-md-6" style="background-color:yellow;height:100px;"></div>
                        <div class="col-md-4" style="background-color:cyan;height:100px;"></div>
                    </div>
                </div>
            </div>
           Hoşgeldiniz {{ request.user.get_full_name}}
       </div>
    {% endblock %}
