
    {% extends 'base.html' %}

    {% block body %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-8 offset-md-2 col-sm-12 col-12">
                <div class="card" style="width:100%">
                    {% if post.image %}
                        <img class="card-img-top img-responsive" src="{{post.image.url}}" alt="Card image cap">
                    {% endif %}
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span class="card-title">{{ post.title }} - <small class="text-muted h-6">{{ post.publishing_date|timesince }} önce</small></span>
                                <small class="text-muted">Yazar: {{ post.user.get_full_name }}</small>
                            </div>
                        <p class="card-text"> {{ post.content|safe|linebreaks }}</p>
                    </div>
                </div><br><br>
                <hr>
                <h4>Yorum Ekle </h4>
                {% include 'post/comment.html' %}
                <hr>

                {% for comment in post.comments.all %}
                    <h5>{{comment.name}} <small class="h6 text-muted"> | {{ comment.created_date|timesince}} önce</small></h5>
                    <p>{{ comment.content|linebreaks }}</p>
                    <hr>
                {% endfor %}

            </div>
        </div>
    </div>
  {% endblock %}
